.flexNavbar {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 50px;
    background-color: #343a40;
    align-items: center;
}

.flexNavbar>div {
    flex: 1;
}

.logo {
    margin-right: auto;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.logoText {
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-left: 10px;
    padding-top: 5px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}

li {
    margin: 0px 25px 0px 25px;
    width: 120px;
    display: flex;
    justify-content: center;
}

.login {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
}

.btn-success {
    height: 30px;
    line-height: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.menu {
    display: flex;
    justify-content: flex-end;
    color: white;
    margin-right: 15px;
    display: none;
}

@media only screen and (max-width: 875px) {
    ul {
        display: none;
    }
    .login {
        display: none;
    }
    .menu {
        display: flex;
    }
}