html {
    height: 100%;
}

body {
    height: 100%;
}

.flexNavbar {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 50px;
    background-color: #343a40;
    align-items: center;
}

.flexNavbar>div {
    flex: 1;
}

.logo {
    margin-right: auto;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.logoText {
    font-family: 'Stylish', sans-serif;
    color: lightgrey;
    font-size: 26px;
    font-weight: 500;
    margin-left: 10px;
    padding-top: 5px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: lightgrey;
}

li {
    margin: 0px 25px 0px 25px;
    width: 120px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.login {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
}

.btn-success {
    font-family: 'Stylish', sans-serif;
    font-weight: 700;
    height: 30px;
    line-height: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

#menu {
    justify-content: flex-end;
    color: lightgrey;
    margin-right: 15px;
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 875px) {
    .ulOne {
        display: none;
    }
    .login {
        display: none;
    }
    #menu {
        display: flex;
    }
}

#flexNavbarTwo {
    display: none;
    justify-content: flex-end;
    width: 150px;
    background-color: rgba(52, 58, 64);
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    border-bottom-left-radius: 5px;
}

.dropdownTab {
    margin: 13px 15px 13px 15px;
    color: lightgrey;
    cursor: pointer;
}

.loginTwo {
    margin: 10px 15px 10px 15px;
}


/* */

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: auto;
    height: calc(100% - 50px);
    width: 250px;
    background-color: #343a40;
    color: lightgrey;
    text-align: center;
}

hr {
    width: 90%;
    border-color: grey;
    border-width: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.head {
    height: 50px;
}

.middle {
    overflow: scroll;
}

.bottom {
    height: 50px;
    margin-top: auto;
}